openocd.cfg
*.d
*.a
*.o
*.lst
*.elf
main.bin
main.elf
main.map
main.sym
.dep/
test/rcptest
firmware_release
test/rcptest
test/rcpsim
*.bin
*.elf
Race*.zip
.cproject
.cdtproject
.externalToolBuilders
.project
.settings
.pydevproject
*cscope*
*#*
TAGS
*.core
*.pyc
*.ihex
.vagrant
*.log
