*#*
*.a
*.bin
*.core
*.d
*.elf
*.elf
*.ihex
*.log
*.lst
*.o
*.pyc
*cscope*
.build
.cdtproject
.cproject
.dep/
.externalToolBuilders
.project
.pydevproject
.settings
.vagrant
Race*.zip
TAGS
core.*
firmware_release
main.bin
main.dis
main.elf
main.hex
main.map
main.sym
openocd.cfg
openocd.log
test/rcpsim
test/rcptest
