*.d
*.a
*.o
*.lst
*.elf
main.bin
main.elf
main.map
main.sym
.dep/
test/rcptest
RaceCapturePro_Firmware
test/rcptest
test/rcpsim
*.bin
*.elf
Race*.zip
.cproject
.cdtproject
.externalToolBuilders
.project
.settings
.pydevproject
